<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mao.webview">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--usesCleartextTraffic 允许 http 请求-->
    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>